<!-- TO DO -->
<!-- 1. current value api -->
<!-- 2. cash stats -->
<!-- 3. volume rounding -->
<!-- 4. fiter by start and end dates -->
<p-table 
    #mainTable
    [value]="instruments"
    [globalFilterFields]="['symbol', 'name', 'type']"
    [tableStyle]="{ 'min-width': '60rem' }"
    stateStorage="session"
    stateKey="statedemo-session"
    dataKey="symbol"
    sortMode="multiple"
    sortField="symbol" [sortOrder]="1"
    [size]="'small'"
    showGridlines
    stripedRows
    scrollable="true"
    scrollHeight="flex"
    class="h-full overflow-hidden"
    [style]="{'max-height': '100% !important;'}"
    >
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <span class="text-xl font-bold">Trades</span>
            <import-xtb></import-xtb>
            <import-bybit></import-bybit>
            <import-revolutx></import-revolutx>
            <p-button icon="pi pi-refresh" rounded raised (click)="clearCache()" />
            <p-button [outlined]="true" icon="pi pi-filter-slash" label="Clear" (click)="clear(mainTable)" />
            
        </div>
        <div class="flex">
            <p-iconfield iconPosition="left" class="ml-auto">
                <p-inputicon>
                    <i class="pi pi-search"></i>
                </p-inputicon>
                <input
                    pInputText
                    type="text"
                    (input)="onGlobalFilter($event, mainTable)"
                    placeholder="Search keyword"
                />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th></th>
            <th pSortableColumn="symbol">
                <div class="flex items-center">
                    Symbol 
                    <p-sortIcon field="symbol" class="ml-1 scale-75" />
                </div>
            </th>
            <th pSortableColumn="name">
                <div class="flex items-center">
                    Name
                    <p-sortIcon field="name" class="ml-1" />
                </div>
            </th>
            <th pSortableColumn="buyVolume">
                <div class="flex items-center">
                    CurrentAmount
                    <p-sortIcon field="buyVolume" class="ml-1" />
                </div>
            </th>
            <th pSortableColumn="meanBuyPrice">
                <div class="flex items-center">
                    MeanBuyPrice
                    <p-sortIcon field="meanBuyPrice" class="ml-1" />
                </div>
            </th>
            <th pSortableColumn="meanSellPrice">
                <div class="flex items-center">
                    MeanSellPrice
                    <p-sortIcon field="meanSellPrice" class="ml-1" />
                </div>
            </th>
            <th pSortableColumn="pastProfit">
                <div class="flex items-center">
                    PastProfit
                    <p-sortIcon field="pastProfit" class="ml-1" />
                </div>
            </th>
            <th pSortableColumn="pastProfitPercent">
                <div class="flex items-center">
                    PastProfitPercent
                    <p-sortIcon field="pastProfitPercent" class="ml-1" />
                </div>
            </th>
            <th pSortableColumn="meanPastProfitPercentPerMonth">
                <div class="flex items-center">
                    MeanPastProfitPercentPerMonth
                    <p-sortIcon field="meanPastProfitPercentPerMonth" class="ml-1" />
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-instrument let-expanded="expanded">
        <tr [pRowToggler]="instrument">
            <td>
                <p-button type="button" [text]="true" [rounded]="true" [plain]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
            </td>
            <td>{{ instrument.symbol }}</td>
            <td>{{ instrument.name }}</td>
            <td>{{ instrument.longPositionsStats.volume }}</td>
            <td>
                {{ instrument.longPositionsStats.meanOpenValue.toFixed(2) }}
            </td>
            <td>
                {{ instrument.longPositionsStats.meanCloseValue.toFixed(2) }}
            </td>
            <td>{{ instrument.getProfits().profit.toFixed(2) }}</td>
            <td>{{ instrument.getProfits().profitPercent.toFixed(2) }}%</td>
            <td>{{ instrument.getProfits().profitPercentPer30Days.toFixed(2) }}%</td>
        </tr>
    </ng-template>
    <ng-template #expandedrow let-instrument>
        <tr>
            <td colspan="9" class="dark:bg-zinc-700">
                <trades-table [trades]="instrument.trades" [isSubTable]="true"></trades-table>
            </td>
        </tr>
    </ng-template>
</p-table>