<p-table 
    [value]="trades" 
    dataKey="id" 
    sortField="date" [sortOrder]="1"
    [size]="'small'"
    showGridlines
    stripedRows
>
    <ng-template #header>
        <tr>
            <th *ngIf="!isSubTable">
                <div class="flex items-center">
                    Symbol
                </div>
            </th>
            <th>
                <div class="flex items-center">
                    Amount
                </div>
            </th>
            <th>
                <div class="flex items-center">
                    Price
                </div>
            </th>
            <th>
                <div class="flex items-center">
                    Value
                </div>
            </th>
            <th>
                <div class="flex items-center">
                    Currency
                </div>
            </th>
            <th>
                <div class="flex items-center">
                    Calculated value(may be in other currency)
                </div>
            </th>
            <th>
                <div class="flex items-center" pSortableColumn="date">
                    Date
                    <p-sortIcon field="date" class="ml-1 scale-75" />
                </div>
            </th>
            <th></th>
            <th>
                <div class="flex items-center">
                    Comments
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template #body let-trade>
        <tr>
            <td *ngIf="!isSubTable">
                <div class="flex items-center gap-2">
                    <img
                        *ngIf="companiesInfoService.getCompanyIcon(trade.symbol)"
                        [src]="companiesInfoService.getCompanyIcon(trade.symbol)"
                        class="w-7 rounded"
                    />
                    {{ trade.symbol }}
                </div>
            </td>
            <td>{{ trade.amount }}</td>
            <td>{{ trade.price | currency: ' ' }}</td>
            <td>{{ trade.originalValue | currency: ' ' }}</td>
            <td>{{ trade.currency }}</td>
            <td>{{ trade.calculatedValue | currency: ' ' }}</td>
            <td>{{ trade.date.toLocaleString() }}</td>
            <td>
                <p-tag [value]="trade.transactionType" [severity]="getTradeResultColor(trade)" />
            </td>
            <td>
                <tr *ngFor="let comment of trade.comments; let i = index">
                    <td>
                        <!-- <textarea rows="1" pTextarea [(ngModel)]="trade.comments[i].comment"></textarea> -->
                    </td>
                </tr>
            </td>
        </tr>
    </ng-template>
    <ng-template #emptymessage>
        <tr>
            <td>There are no trades for this instrument.</td>
        </tr>
    </ng-template>
</p-table>